# Dart/Flutter
.dart_tool/
.packages
build/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Generated
*.g.dart
*.mocks.dart
doc/*.pdf

# Don't commit
odoo_rest_ov_article.html
test/integration/live_test.dart
